<h1>Activating your account</h1>
<p class="lead">Welcome to Hupothesis. The tool that validate your hypothesis.</p>

<h3>Activation in progress</h3>

{{#if notice}}
<p class="notice bg-info text-info"> <i class="fa fa-info"></i><span> {{notice}}</span></p>
{{/if}}

{{#if error}}
<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span>Error when activating : {{error}}</span></p>

{{else}}

<p>
  You can now access our services to validate your hypothesis. Go and upload your questionnaire on our <a href="/">Homepage</a>
</p>
{{/if}}