<div class="page-header">
  <h1>Download exam</h1>
  <p class="lead">Answer the exam as quickly as you can.</p>
</div>

{{#if error }}
<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span>Error when uploading answers : {{error}}</span></p>
{{/if}}

{{#if notice }}

<p class="notice bg-info text-info"> <i class="fa fa-exclamation-triangle"> </i><span>Thank you for time. {{notice}}</span></p>
<p>Now upload <strong><a href="/upload">your own test</a></strong>.</p>

{{else}}

<h4>{{fileinfo.title}}</h4>

<p>Answer the exam as fast as possible to get a good qualification because your time is limited.</p>

{{#if fileinfo.instruction}}
<p>{{fileinfo.instruction}}</p>
{{/if}}

<p>Time is running : <strong><span class="timer">00:00</span></strong>. Good Luck.</p>

<iframe src="/getfile/{{fileinfo._id}}" width="100%" height="400"></iframe>

<p></p>
<form method="POST" action="/upload/answer?_csrf={{csrf}}" enctype="multipart/form-data" role="form">
  <input type="hidden" name="fileid" value="{{fileinfo._id}}"/>
  {{#if contestant.email}}
  <input type="hidden" name="email" value="{{contestant.email}}">
  {{else}}
  <div class="form-group">
    <label for="email">Please enter you email</label>
    <input type="email" name="email" id="email" required="true" class="form-control">
  </div>
  {{/if}}
  <div class="form-group">
    <label for="answerinfo">Chose your answers</label>
    <input type="file" name="answerinfo" id="answerinfo" required="true"/>
    <p class="help-block">pdf only</p>
  </div>
  <div class="form-group">
    <label for="comments">Some comments for your reviewer ?</label>
    <textarea name="comments" id="comments" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="recaptcha_response_field">Copy the value and prove your're not a bot</label>
    <script src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}"></script>
      <noscript>
        <iframe src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}" height="300" width="500" frameborder="0"></iframe>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
      </noscript>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit your answers</button>
  </div>
</form>

{{/if}}

<script>
$(function(){
  $.event.trigger({
    type:"launchTimer",
    message: "",
    time: new Date()
  });

  $.event.trigger({
    type:"sendTrack",
    {{#if contestant}}
    message:'{{contestant._id}}',
    {{else}}
    message:'',
    {{/if}}
    time: new Date()
  });
});
</script>