<h1>Download your exam</h1>
<p>Download the exam to upload your answers</p>

{{#if error }}

<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span>Error when downloading exam : {{error}}</span></p>

{{else}}

<form method="post" action="/download">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <dl>
    {{#if contestant}}
    <input type="hidden" name="email" id="email" value="{{contestant.email}}">    
    {{else}}
    <dt>
      <label for="email">Enter your email</label>
    </dt>
    <dd>
      <input type="email" name="email" id="email" required="true" class="form-control"/>
    </dd>
    {{/if}}
    <dt></dt>
    <dd>
      <script src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}"></script>
      <noscript>
        <iframe src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}" height="300" width="500" frameborder="0"></iframe>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
      </noscript>
    </dd>
    <dt></dt>
    <dd>
      <input type="hidden" name="fileinfoid" value="{{fileinfo.id}}"/>
      <button type="submit" class="btn btn-primary">Download the test</button>
    </dd>
  </dl>
</form>
{{/if}}