extends global

block content
  h1= title
  p Welcome to #{title}
  p Please enter you email to access the test
  if error
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span Error when downloading exam : #{error}
  form(method="post", action="/download")
    dl
      dt
        label(for="email") Enter your email
      dd
        input.form-control(type="email",name="email",id="email",required="true")
      dt
      dd
        input(type="hidden",name="fileinfoid",value="#{fileinfo.id}")
        button.btn.btn-primary(type="submit") Download the test
