<div class="page-header">
  <h1>Frequently Asked Questions</h1>
  <p class="lead">Hupothesis Frequently Asked Questions</p>
</div>

<h3>What is Hupothesis ?</h3>
<p>
  Hupothesis is a service designed to validate your hypothesis. The tool allows you to validate hypothesis using large scale persona sample thanks to the Internet to validate your hypothesis. You have some hypothesis and want to validate it ? We can help you.
</p>

<h3>What can do Hupothesis now ?</h3>
<p>
  Right now the tool allows you to upload a test file that can be shared easily to any number of persona for answers. It can be any kind of file so you can submit your hypothesis using a text file, an audio or a video or anything else. You have no sharing limitation and no upload limit besides file size (4 Mo).  
</p>

<h3>What will do Hupothesis ?</h3>
<p>
  Hupothesis is in active development and possibilities are almost infinite. Using the large number of Internet users whose profile are so different, the tool could allow great scientific enhancements. In a short term we want to integrate a basic poll system for scientific assumptions on large scale based profiles. This way we want others websites to integrate polls for more visibility.  
</p>

<h3>Will Hupothesis become “social” ?</h3>
<p>
  The importance of online social networks is increasing a lot and is taking more importance in our lives. For these reasons Hupothesis will greatly rely on social network sharing allowing you to access a large number of users. But this social network use need to be carefully done so we do not have a unique persona profile for your hypothesis validation, this is why we're still working on it.  
</p>

<h3>Why should you use Hupothesis ?</h3>
<p>
  There is a lot of reasons to use Hupothesis that affect a large number of industries, most of them based on services but not only. The tool was originally created with human resources in mind but it evolved really fast to a larger scale. With our tool you could upload a test to your candidates and get a response with the answer time logged. Marketers can use our tool to poll users about some specific product or campaign. Scientific continuously need hypothesis validation or not. Software development could also access our tool to know if it's worth to implement a new feature or not. All of this uses and more excuse Hupothesis project existence.  
</p>

<h3>How to join the project ?</h3>
<p>
  You have a lot of possibilities to help us. First of all, by using our tool and alert us if a feature wouldn't work or if you need a new one. Second, by talking about Hupothesis and explaining to your friends what is it ? Last, but not least, participating to project developments on GitHub.
</p>