<div class="page-header">
  <h1>Frequently Asked Questions</h1>
  <p class="lead">Hupothesis Frequently Asked Questions</p>
</div>

<h3>How to stay tuned ?</h3>
<p>
  Subscribe to our newsletter filling our <a href="/launch">form</a>.
</p>
<h3>What is Hupothesis ?</h3>
<p>
  Hupothesis is a service designed to validate your hypothesis. Our tool allows you to create live polls or exams files for you to verify an idea using large scale persona sample thanks to the Internet. You have some hypothesis and want to validate it ? We can help you.
</p>

<h3>What can do Hupothesis now ?</h3>
<p>
  Right now the tool allows you to upload a test file that can be shared easily to any number of persona for answers. It can be any text based file, this way you're free with your questions. You can also create your questions using our tool, this way you'll have a more detailed feedback. You have no sharing limitation, no creation limitation and no upload limit besides file size (4 Mo).  
</p>

<h3>What will do Hupothesis ?</h3>
<p>
  Hupothesis is in active development so please feel free to let us know if you enconter any kind of bug. Through the Internet users whose profiles are so different, the tool will allow you to target anyone who want. In a short term we want to integrate a basic poll system for scientific assumptions on large scale based profiles. This is why we offer other websites to integrate polls for more visibility.
</p>

<h3>Will Hupothesis become “social” ?</h3>
<p>
  The online social networks importance is increasing a lot, this is why we want you to be able to easily share your questionnaire. For these reasons Hupothesis will greatly rely on social network  allowing you to access a large number of users.
</p>

<h3>Why should you use Hupothesis ?</h3>
<p>
  There is a lot of reasons to use Hupothesis. With our tool you could upload a test to your candidates and get a response with the answer time logged. Marketers can use our tool to poll users about some specific product or campaign. Scientific continuously need hypothesis validation and sometimes they need to have information from a lot of people. Software development could also access our tool to know if it's worth to implement a new feature or not. All of this uses and more excuse Hupothesis project existence.  
</p>

<h3>How to join the project ?</h3>
<p>
  You can help us in different maners. First of all, by using our tool and alert us if a feature wouldn't work or if you need a new one. Second, by talking about Hupothesis and explaining to your friends what is it ? Last, but not least, by using our hypothesis validation platform.
</p>