<div class="page-header">
  <h1>Validate your hypothesis</h1>
  <p class="lead">Create questionnaires, exams and more for billions people</p>
</div>

<div class="row">
  <h3>
    What do you want ?
  </h3>
  <p>
    Create a <strong>questionnaire</strong> if you want people to answer through our interface, this will provide you more detailed feedbacks. Or upload your <strong>exam</strong> file if you want to make feedback analysis later on your own.
  </p>
</div>
<div class="row">
  <div class="col-xs-6">
    <p class="text-left">
      <a href="/poll" class="link link-neutral" title="Create your poll"><i class="fa fa-area-chart fa-6x"></i><br>Create your questionnaire</a>
    </p>
  </div>
  <div class="col-xs-6">
    <p class="text-right">
      <a href="/upload" class="link link-neutral" title="Upload your exam"><i class="fa fa-pencil-square fa-6x"></i><br>Upload your exam</a>
    </p>
  </div>
</div>

<div class="row">
  <h3>What is Hupothesis ?</h3>
  <p>
    Hupothesis is a service designed to validate your hypothesis. Our tool allows you to create live polls or exams files for you to verify an idea using large scale persona sample thanks to the Internet. We make sure only humans answer only once your polls and that they are no robot.
  </p>
  <p>
    Want to know more ? Check our <a href="/faq">FAQ</a>
  </p>
</div>
