<div class="page-header">
  <h1>Validate your hypothesis</h1>
  <p class="lead">Using poll, exams and more on billions people</p>
</div>

<div class="row">
  <h3>What is Hupothesis ?</h3>
  <p>
    Hupothesis is a service designed to validate your hypothesis. The tool allows you to validate hypothesis using large scale persona sample thanks to the Internet to validate your hypothesis. You have some hypothesis and want to validate it ? We can help you.
  </p>
  <p>
    Want to know more ? Check our <a href="/faq">FAQ</a>
  </p>
</div>

<div class="row">
  <h3>
    What do you need ?
  </h3>
</div>
<div class="row">
  <div class="col-xs-6">
    <p class="text-left">
      <a href="/upload" class="link link-neutral" title="Upload your test"><i class="fa fa-pencil-square fa-6x"></i><br>Upload your test</a>
    </p>
  </div>
  <div class="col-xs-6">
    <p class="text-left">
      <a href="/poll" class="link link-neutral" title="Create your poll"><i class="fa fa-area-chart fa-6x"></i><br>Create your poll</a>
    </p>
  </div>
</div>