<h1>{{ title }}</h1>
<p class="lead">Welcome to hupothesis</p>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

{{#if error.length > 0}}
<p class="notice bg-danger text-danger">
  <i class="fa fa-exclamation-triangle"> <span>Error when uploading exam : {{error}}</span>
</p>
{{/if}}

{{#if notice.length > 0}}
<p class="notice bg-info text-info">
  <i class="fa fa-exclamation-triangle"> <span>File Uploaded with success get it on <a href="/answer/{{options.fileid}}">/answer/{{options.fileid}}</a></span>
</p>
{{/if}}