extends global

block content
  h1= title
  p.lead Authenticate yourself

  if error.length > 0
    p.notice.bg-danger.text-danger 
      i.fa.fa-exclamation-triangle  
      span Error when authenticating : #{error}

  if notice.length > 0
    p.notice.bg-info.text-info 
      i.fa.fa-info
      span &nbsp; #{notice}
  else
    p Login to your account
  
    form(method="POST", action="/login")
      input(type="hidden",name="_csrf",value="#{csrf}")
      dl
        dt
          label(for="email") Your email
        dd
          input.form-control(type="email",name="email",id="email",required="true")
        dt
          label(for="password") Password
        dd
          input.form-control(type="password",name="password",id="password",required="true")
        dt
        dd
          button.btn.btn-primary(type="submit") Login