<div class="page-header">
  <h1>Create your poll</h1>
  <p class="lead">Create your poll and it will be shared with our partners</p>
</div>

<div class="row">
  <h3>How to create your form</h3>
  <p>
    Just fill the form and chose poll category and it will be displayed on our partners website. You can also share it with your friends !
  </p>
  <p>
    Want to get back ? Click <a href="/">here</a>
  </p>
</div>

<div class="row">
  <h3>
    Fill the form to create your poll.
  </h3>
  <p>
    You can define up to <strong>4 questions</strong>. Expected answers can be open, consumer feeling, multiple or unique choices.
  </p>
</div>

{{#if error }}
<p class="notice bg-danger text-danger">
  <i class="fa fa-exclamation-triangle"> <span>Error when creating poll : {{error}}</span></i>
</p>
{{/if}}

{{#if notice }}

<p class="notice bg-info text-info">
  <i class="fa fa-exclamation-triangle"> <span>{{notice}}</span></i>
</p>

{{/if}}

<form method="post" action="/poll">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <div>
    <div class="question" data-id="0">
      <div class="row">
        <div class="col-md-2">
          <label>Question title : </label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="question_title[]" required>
        </div>
        <div class="col-md-4">
          <div class="radio">
            <label><input type="radio" name="question_type_0" value="open" class="question_type" required> Open</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="question_type_0" value="feel" class="question_type" required> Feeling</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="question_type_0" value="multiple" class="question_type" required> Multiple choices</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="question_type_0" value="unique" class="question_type" required> Unique choice</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="open" style="display:none;"></div>
          <div class="multiple unique feel" style="display:none;">
            <div class="col-md-3">
              <input type="text" class="form-control" name="question_answer_0[]" placeholder="choice title">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="question_answer_0[]" placeholder="choice title">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="question_answer_0[]" placeholder="choice title">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="question_answer_0[]" placeholder="choice title">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success question_add">Add question</button>
          <button class="btn btn-warning question_rm">Remove question</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="preview"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><button class="btn btn-primary" type="submit">Save Poll</button></p>
    </div>
  </div>
</form>

