<div class="page-header">
  <h1>Answer the poll</h1>
  <p class="lead">Create your poll and it will be shared with our partners</p>
</div>

<div class="row">
  <div class="col-md-12">
    {{#if poll.title}}
    <h3>{{title}}</h3>
    {{/if}}
  </div>
</div>

{{#if error }}

<p class="notice bg-danger text-danger">
  <i class="fa fa-exclamation-triangle"> </i><span>{{error}}</span></i>
</p>

{{/if}}


{{#if notice }}

<p class="notice bg-info text-info">
  <i class="fa fa-exclamation-triangle"> </i><span>Thank you for your time. {{notice}}</span></i>
</p>
<p>Now create <strong><a href="/poll">your own poll</a></strong>.</p>

{{else}}

<form action="/poll/answer" method="post">
  <input type="hidden" name="_csrf" value="{{csrf}}">  
  <input type="hidden" name="pollid" value="{{poll._id}}">
  {{#if contestant}}
  <input type="hidden" name="email" value="{{contestant.email}}">
  {{else}}
  <div class="row">
    <dl>
      <dt>
        <label for="email">Please provide your email</label>
      </dt>
      <dd>
        <input type="email" class="form-control" name="email" id="email" placeholder="john.doe@unknown.com">
      </dd>
    </dl>
  </div>
  {{/if}}
{{#each poll.questions}}
  <div class="question">
    <div class="row">
      <input type="text" class="form-control" name="question_prompts[]" value="{{prompt}}" placeholder="{{prompt}}" readonly>
      <input type="hidden" name="question_ids[]" value="{{_id}}">
    </div>
    <div class="row">
      {{#ifCond type "open"}}
      <div class="col-md-12">
        <input type="text" class="form-control" name="question_answer_{{id}}">
      </div>
      {{/ifCond}}

      {{#ifCond type "unique"}}
      {{#each choices}}
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" name="question_answer_{{../id}}" value="{{this}}">
            {{this}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/ifCond}}

      {{#ifCond type "multiple"}}
      {{#each choices}}
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="question_answer_{{../id}}" value="{{this}}">
            {{this}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/ifCond}}
      
      {{#ifCond type "feel"}}
      {{#each choices}}
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="question_answer_{{../id}}" value="{{this}}">
            {{this}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/ifCond}}
    </div>
  </div>
  <p>&nbsp;</p>
{{/each}}

  <div class="row">
    <dl>
      <dt>
        <script src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}"></script>
        <noscript>
          <iframe src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}" height="300" width="500" frameborder="0"></iframe>
          <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
          <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
        </noscript>
      </dt>
      <dd></dd>
      <dt>
        <button class="btn btn-primary" type="submit">Send your opinion</button>
      </dt>
      <dd></dd>
    </dl>
  </div>
</form>

{{/if}}