<div class="page-header">
  <h1>Create your poll</h1>
  <p class="lead">Create your poll and it will be shared with our partners</p>
</div>

<div class="row">
  <h3>How to create your form</h3>
  <p>
    Just fill the form and chose poll category and it will be displayed on our partners website. You can also share it with your friends !
  </p>
  <p>
    Want to get back ? Click <a href="/">here</a>
  </p>
</div>

<div class="row">
  <h3>
    Fill the form
  </h3>
</div>
<div class="row">
  <p>TO BE DONE</p>
</div>