<div class="page-header">
  <h1>Answer our poll</h1>
  <p class="lead">Answer the poll {{poll.title}}</p>
</div>

<div class="row">
  <div class="col-md-12">
    {{#if poll.title}}
    <h3>{{title}}</h3>
    {{/if}}
  </div>
</div>

{{#if error }}

<p class="notice bg-danger text-danger">
  <i class="fa fa-exclamation-triangle"> </i><span>{{error}}</span></i>
</p>

{{/if}}


{{#if notice }}

<p class="notice bg-info text-info">
  <i class="fa fa-exclamation-triangle"> </i><span>Thank you for your time. {{notice}}</span></i>
</p>
<p>Now create <strong><a href="/poll">your own poll</a></strong>.</p>

{{else}}

<p>Answer the questionnaire by using the form.</p>
<p>Time is running : <strong><span class="timer">00:00</span></strong>. Good Luck.</p>

<form action="/poll/answer" method="post">
  <input type="hidden" name="_csrf" value="{{csrf}}">  
  <input type="hidden" name="blobid" value="{{poll._id}}">
  <div class="row">
    <div class="form-group">
      <label for="email">Please provide your email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="john.doe@unknown.com">
    </div>
  </div>
{{#each poll.questions}}
  <input type="hidden" name="question_ids[]" value="{{_id}}">
  <div class="question">
    <div class="row">
      <div class="form-group">
        <label>Question #{{#inc}}{{@index}}{{/inc}}</label>
        <input type="text" class="form-control" name="question_prompts[]" value="{{prompt}}" placeholder="{{prompt}}" class="prompt" readonly>
      </div>
    </div>
    <div class="row">
      {{#ifCond type "open"}}
      <div class="col-md-12">
        <textarea class="form-control" name="question_answer_{{id}}"></textarea>
      </div>
      {{/ifCond}}

      {{#ifCond type "unique"}}
      {{#each choices}}
      <div class="col-md-3">
        <div class="radio">
          <label>
            <input type="radio" name="question_answer_{{../id}}" value="{{this}}">
            {{this}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/ifCond}}

      {{#ifCond type "multiple"}}
      {{#each choices}}
      <div class="col-md-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="question_answer_{{../id}}" value="{{this}}">
            {{this}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/ifCond}}
      
      {{#ifCond type "feel"}}
      <div class="col-md-12">
        <input type="range" step="1" min="1" max="{{choices.length}}" value="2" class="form-control range_feeling">
        <div class="feeling_wrapper">
          {{#each choices}}
          <div class="col-md-2">
            {{this}}
          </div>
          {{/each}}
        </div>
      </div>
      <select name="question_answer_{{id}}" class="in_feeling" style="visibility:hidden;">
        {{#each choices}}
        <option index="{{@index}}">{{this}}</option>
        {{/each}}
      </select>
      {{/ifCond}}
    </div>
  </div>
  <p>&nbsp;</p>
{{/each}}

  <div class="row">
    <div class="form-group">
      <label for="recaptcha_response_field">Copy the value and prove your're not a bot</label>
      <script src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}"></script>
      <noscript>
        <iframe src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}" height="300" width="500" frameborder="0"></iframe>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
      </noscript>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Send your opinion</button>
    </div>
  </div>
</form>

{{/if}}

<script>
$(function(){
  $.event.trigger({
    type:"launchTimer",
    message: "",
    time: new Date()
  });

  $.event.trigger({
    type:"sendTrack",
    message:'{{contestant._id}}',
    time: new Date()
  });
});
</script>
