<h1>Uploaded tests</h1>
<p class="lead">View uploaded tests and answers</p>

{{#if notice}}
<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span> {{notice}}</span></p>
{{/if}}

{{#if info}}
<p>You can follow your uploaded exams next :</p>
{{#each infos}}
<h4>Exams {{filename}}</h4>
<ul>
  <li>Exam name : {{filename}}</li>
  {{#if anstime}}
  <li>Max answer time : {{anstime}}</li>
  {{/if}}
  {{#if uptime}}
  <li>File Up Time : {{uptime}}        
  {{/if}}
  {{#each answers}}
    <h4>Answer {{filename}}</h4>
    <ul>
      {{#if filename}}
      <li>Answer name : {{filename}}</li>
      {{/if}}
      {{#if downloaded}}
      <li>Downloaded on : {{downloaded}}</li>
      {{/if}}
      {{#if added}}
      <li>Uploaded on : {{added}}</li>
      {{/if}}
      {{#if ansTime}}
      <li>Answered in   {{ansTime[0]}}d{{ansTime[1]}}h{{ansTime[2]}}m</li>
      {{/if}}
      {{#if comments}}
      <li>Comments : {{comments}}</li>
      {{/if}}
      {{#if user}}
      <li>Uploaded by : {{user.email}}</li>
      {{/if}}
    </ul>
  {{/each}}
  </li>
</ul>
{{/each}}
{{/if}}