<div class="page-header">
  <h1>Profile</h1>
  <p class="lead">Manage your profile, polls and exams</p>
</div>

{{#if error }}
<p class="notice bg-danger text-danger">
  <i class="fa fa-exclamation-triangle"> <span>{{error}}</span></i>
</p>
{{/if}}

{{#if notice}}
<p class="notice bg-info text-info">
  <i class="fa fa-exclamation-triangle"> <span>{{notice}}</span></i>
</p>
{{/if}}


{{#if data.user}}
<div class="row">
  <div class="col-md-12">
    <p>Welcome, <a href="#">{{data.user.local.email}}</a>. You can manage your polls and exams on this page.</p>
  </div>
</div>

<div class="row">
  <div role="tabpanel" class="tabbable tab-left">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#exam" aria-controls="exam" role="tab" data-toggle="tab">Exams</a>
      </li>
      <li role="presentation">
        <a href="#poll" aria-controls="poll" role="tab" data-toggle="tab">Polls</a>
      </li>
      <li role="presentation">
        <a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="exam">
        <div class="row">
          {{#if data.user.files}}
          {{#each data.user.files}}
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                {{title}}
              </div>
              <div class="panel-body">
                <p>Answers received : {{answers.length}}</p>
                <p><a href="{{app.url}}/upload/answer/{{_id}}">{{app.url}}/upload/answer/{{_id}}</a></p>
              </div>
              <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="exam-btn">
                  <button type="button" class="btn btn-default more" data-id="{{_id}}">More...</button>
                  <button type="button" class="btn btn-primary" data-id="{{_id}}">Share</button>
                  <button type="button" class="btn btn-primary" data-id="{{_id}}">Export</button>
                  <button type="button" class="btn btn-danger delete" data-href="/file/delete/{{_id}}" data-toggle="modal" data-target="#confirmModal" data-id="{{_id}}">Delete</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>
        {{#if data.user.files}}
        {{#each data.user.files}}
        <div class="row answer" id="{{_id}}" style="display: none;">
          {{#if answers}}
          {{#each answers}}
          <div class="col-md-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                {{filename}}
              </div>
              <div class="panel-body">
                <div class="col-md-6">
                  {{#if contestant.email}}
                  <p>Answered by : {{contestant.email}}</p>
                  {{/if}}
                  <p>in {{prettify ansTime}}</p>
                  {{#if comments}}
                  <p>{{comments}}</p>
                  {{/if}}
                </div>
                <div class="col-md-6">
                  <a class="btn btn-primary btn-block" data-id="{{_id}}" href="/file/getanswer/{{_id}}">Download</a>
                  <button class="btn btn-danger btn-block delete" data-href="/file/answer/delete/{{_id}}" data-toggle="modal" data-target="#confirmModal" data-id="{{_id}}">Delete</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-body">
                <h4>No answers</h4>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
        {{/each}}
        {{/if}}
      </div>

      <div role="tabpanel" class="tab-pane fade" id="poll">
        <div class="row">
          {{#if data.user.polls}}
          {{#each data.user.polls}}
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                {{title}}
              </div>
              <div class="panel-body">
                <p>Questions registered : {{questions.length}}</p>
                <p><a href="{{app.url}}/poll/answer/{{_id}}">{{app.url}}/poll/answer/{{_id}}</a></p>
              </div>
              <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="poll-btn">
                  <button type="button" class="btn btn-default more" data-id="{{_id}}">More...</button>
                  <button type="button" class="btn btn-primary">Share</button>
                  <button type="button" class="btn btn-primary">Export as PDF</button>
                  <button type="button" class="btn btn-danger" data-href="/poll/delete/{{_id}}" data-toggle="modal" data-target="#confirmModal" data-id="{{_id}}">Delete</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>

        {{#if data.user.polls}}
        {{#each data.user.polls}}
        <div class="row answer" id="{{_id}}" style="display: none;">
          <div class="col-md-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                {{title}}
              </div>
              <div class="panel-body">
                {{#if questions}}
                <div class="col-md-12">
                  {{#each questions}}
                  <h4 class="morespace"><u>Question</u>: {{prompt}}</h4>
                  {{#if answers}}
                    <p>You have <strong>{{answers.length}} answer(s)</strong></p>
                    {{#each answers}}
                    <p>Answered by <strong>{{contestant.email}}</strong> in <strong>{{prettify ansTime}}</strong></p>
                    {{#if value}}
                    <ul class="answervalues">
                      {{#each value}}<li> {{this}} </li>{{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}
                  {{else}}
                  <p>No answer</p>
                  {{/if}}
                  {{/each}}
                </div>
                <div class="col-md-6">
                  <!-- graphics -->
                </div>
                {{else}}
                <p>No questions</p>
                {{/if}}
              </div>
              <!--
              <div class="panel-footer">
                <div class="btn-group" aria-label="pollanswer-btn" role="group">
                  <button class="btn btn-default">Diagram</button>
                  <button class="btn btn-primary">Export as PDF</button>
                  <button class="btn btn-primary">Export as CSV</button>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
      
      <div role="tabpanel" class="tab-pane fade" id="account">
        <div class="row">
          <p>Manage your account settings.</p>
          <div class="panel panel-danger">
            <div class="panel-heading">
              Edit your password
            </div>
            <div class="panel-body">
              <form role="form" action="/reset" method="post">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <div class="form-group">
                  <label for="password1">Current password</label>
                  <input type="password" name="password1" id="password1" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password2">New password</label>
                  <input type="password" name="password2" id="password2" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password3">Confirm password</label>
                  <input type="password" name="password3" id="password3" class="form-control">
                </div>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Change password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Confirm action</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to do this ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>