<h1>Create your account</h1>
<p class="lead">Create your account to have full acces to hupothesis</p>

{{#if error}}
<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span>Error when registering : {{error}}</span></p>
{{/if}}

{{#if notice}}
<p class="notice bg-info text-info"> <i class="fa fa-info"></i><span>&nbsp; {{notice}}</span></p>
<p>You'll receive a mail with extra instructions. If not please <a href="/contact">contact us</a></p>

{{else}}

<p>Please fill our form to create a new account</p>
<form method="POST" action="/register">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>
  <dl>
    <dt>
      <label for="email">Your email</label>
    </dt>
    <dd>
      <input type="email" name="email" id="email" required="true" class="form-control"/>
    </dd>
    <dt>
      <label for="password">Password</label>
    </dt>
    <dd>
      <input type="password" name="password" id="password" required="true" class="form-control"/>
    </dd>
    <dt>
      <label for="confirm">Confirm your password</label>
    </dt>
    <dd>
      <input type="password" name="confirm" id="confirm" required="true" class="form-control"/>
    </dd>
    <dt></dt>
    <dd>
      <script src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}"></script>
      <noscript>
        <iframe src="http://www.google.com/recaptcha/api/challenge?k={{captcha_key}}" height="300" width="500" frameborder="0"></iframe>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
      </noscript>
    </dd>
    <dt></dt>
    <dd>
      <button type="submit" class="btn btn-primary">Register</button>
    </dd>
  </dl>
</form>
{{/if}}