<div class="page-header">
  <h1>Unsubscribe</h1>
  <p class="lead">upothesis newsletter unsubscription page.</p>
</div>

{{#if error}}
<p class="notice bg-danger text-danger"> <i class="fa fa-exclamation-triangle"> </i><span>Error when unsubscribing : {{error}}</span></p>
{{/if}}

{{#if notice}}
<p class="notice bg-info text-info"> <i class="fa fa-info"></i><span> {{notice}}</span></p>
{{/if}}

<p>
  Hupothesis let you validate your hypothesis. If you want to know more, <a href="/">upload your hypothesis.</a>
</p>
